<a href="https://colab.research.google.com/github/crd3cc04/Join-Reshape-Datasets/blob/master/Copy_of_LS_DS_113_Join_and_Reshape_Data_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 1, Sprint 1, Module 3*

---

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-11-06 22:13:22--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.138.213
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.138.213|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  43.5MB/s    in 4.9s

2019-11-06 22:13:33 (39.9 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [ ]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [ ]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

In [ ]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

In [ ]:
! ls

aisles.csv	 order_products__prior.csv  orders.csv
departments.csv  order_products__train.csv  products.csv

# Assignment

## Join Data Practice

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

In [ ]:
organic = product['product_name']=='Organic Strawberries'
print(organic.head())

0    False
1    False
2    False
3    False
4    False
Name: product_name, dtype: bool

In [ ]:
organic_list = product[organic]
print(organic_list.shape)

(1, 4)

In [ ]:
organic_list.head()

       product_id          product_name  aisle_id  department_id
21136       21137  Organic Strawberries        24              4

In [ ]:
product = pd.read_csv('products.csv')
print(product.shape)
product.tail(3)

(49688, 4)

       product_id  ... department_id
49685       49686  ...             3
49686       49687  ...             8
49687       49688  ...            11

[3 rows x 4 columns]

In [ ]:
product.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id'], dtype='object')

In [ ]:
col1 = ['product_id', 'product_name']
product = product[col1]

In [ ]:
condition2 = (product['product_name']=='Organic Whole Milk') | (product['product_name']=='Banana') |( product['product_name']=='Organic Strawberries') | (product['product_name']=='Bag of Organic Bananas') |  (product['product_name']=='Organic Baby Spinash') | (product['product_name']=='Organic Hass Avocado') |( product['product_name']=='Organic Avocado') | (product['product_name']=='Large Lemon') | (product['product_name']=='Strawberries') | (product['product_name']=='Limes') | (product['product_name']=='Organic Baby Spinach')
condition2

0        False
1        False
2        False
3        False
4        False
         ...
49683    False
49684    False
49685    False
49686    False
49687    False
Name: product_name, Length: 49688, dtype: bool

In [ ]:
product[condition2]

       product_id            product_name
13175       13176  Bag of Organic Bananas
16796       16797            Strawberries
21136       21137    Organic Strawberries
21902       21903    Organic Baby Spinach
24851       24852                  Banana
26208       26209                   Limes
27844       27845      Organic Whole Milk
47208       47209    Organic Hass Avocado
47625       47626             Large Lemon
47765       47766         Organic Avocado

In [ ]:
product_subset = product[condition2]

In [ ]:
product_subset.shape

(10, 2)

In [ ]:
orders = pd.read_csv('orders.csv')
print(orders.shape)
orders.sample(3)

(3421083, 7)

         order_id  user_id  ... order_hour_of_day  days_since_prior_order
1883454    960269   113062  ...                17                     2.0
1640174   2001833    98485  ...                13                     2.0
106332     923942     6438  ...                10                     7.0

[3 rows x 7 columns]

In [ ]:
orders.columns

Index(['order_id', 'user_id', 'eval_set', 'order_number', 'order_dow',
       'order_hour_of_day', 'days_since_prior_order'],
      dtype='object')

In [ ]:
cols=['user_id', 'order_id', 'order_number', "order_hour_of_day"]
orders = orders[cols]

In [ ]:
condition = (orders['user_id']==1) & (orders['order_number']<=10)
condition

0           True
1           True
2           True
3           True
4           True
           ...
3421078    False
3421079    False
3421080    False
3421081    False
3421082    False
Length: 3421083, dtype: bool

In [ ]:
orders[condition]

   user_id  order_id  order_number  order_hour_of_day
0        1   2539329             1                  8
1        1   2398795             2                  7
2        1    473747             3                 12
3        1   2254736             4                  7
4        1    431534             5                 15
5        1   3367565             6                  7
6        1    550135             7                  9
7        1   3108588             8                 14
8        1   2295261             9                 16
9        1   2550362            10                  8

In [ ]:
orders_subset = orders[condition]

In [ ]:
orders_subset.shape

(10, 4)

In [ ]:
column1 = ['order_id', 'add_to_cart_order']

In [ ]:
print(orders_subset.columns)
print(product_subset.columns)

Index(['user_id', 'order_id', 'order_number', 'order_hour_of_day'], dtype='object')
Index(['product_id', 'product_name'], dtype='object')

In [ ]:
print(orders_subset.shape)
product_subset.shape

(10, 4)

(10, 2)

In [ ]:
order_products_prior = pd.read_csv('order_products__prior.csv')
print(order_products_prior.shape)
order_products_prior.sample(3)

(32434489, 4)

          order_id  product_id  add_to_cart_order  reordered
22351944   2357647       18988                  7          1
3690666     389831       44234                  9          1
618986       65458        2086                 12          1

In [ ]:
order_products_train=pd.read_csv('order_products__train.csv')
print(order_products_train.shape)
order_products_train.head(3)

(1384617, 4)

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0

In [ ]:
order_products = pd.concat([order_products_prior, order_products_train])
order_products.shape

(33819106, 4)

In [ ]:
order_products.columns

Index(['order_id', 'product_id', 'add_to_cart_order', 'reordered'], dtype='object')

In [ ]:
condition = (order_products['order_id']==2539329) | (order_products['order_id']==2398795)
condition

## Reshape Data Section

- Replicate the lesson code
- Complete the code cells we skipped near the beginning of the notebook
- Table 2 --> Tidy
- Tidy --> Table 2
- Load seaborn's `flights` dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

In [ ]:
flights = sns.load_dataset('flights')

In [ ]:
##### YOUR CODE HERE #####

## Join Data Stretch Challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [ ]:
##### YOUR CODE HERE #####

## Reshape Data Stretch Challenge

_Try whatever sounds most interesting to you!_

- Replicate more of Instacart's visualization showing "Hour of Day Ordered" vs "Percent of Orders by Product"
- Replicate parts of the other visualization from [Instacart's blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2), showing "Number of Purchases" vs "Percent Reorder Purchases"
- Get the most recent order for each user in Instacart's dataset. This is a useful baseline when [predicting a user's next order](https://www.kaggle.com/c/instacart-market-basket-analysis)
- Replicate parts of the blog post linked at the top of this notebook: [Modern Pandas, Part 5: Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [ ]:
##### YOUR CODE HERE #####